$brand-primary:#e53b21;
$brand-secondary:#D6EFFF;
$header-colour:#e6c131;
$text-colour:#333333;
$white:#ffffff;
$black:#000000;
$border-colour:#cbcbcb;
$bg-foreground: lighten($brand-primary,10%);
$bg-background: $brand-secondary;
$screen-sm: 32em;
$screen-md: 64.063em;
